.list{
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .listParent{
    height: 200px;
    width: 100%;
    background-color: rgb(95, 207, 207);
    margin: 20px;
    border-radius: 10px;
  }
  
  MuiInputBase-input{
    height: 10px;
  }
