.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 255, 247);
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 20px;
  }
  
  .logo a{
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  